
# PlanAhead Generated IO constraints 

NET "RGB[7]" IOSTANDARD = LVCMOS33;
NET "RGB[6]" IOSTANDARD = LVCMOS33;
NET "RGB[5]" IOSTANDARD = LVCMOS33;
NET "RGB[4]" IOSTANDARD = LVCMOS33;
NET "RGB[3]" IOSTANDARD = LVCMOS33;
NET "RGB[2]" IOSTANDARD = LVCMOS33;
NET "RGB[1]" IOSTANDARD = LVCMOS33;
NET "RGB[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "hsync" IOSTANDARD = LVCMOS33;
NET "pic_on" IOSTANDARD = LVCMOS33;
NET "pixel_tick" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "vsync" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "RGB[7]" LOC = N7;
NET "RGB[6]" LOC = V7;
NET "RGB[5]" LOC = U7;
NET "RGB[4]" LOC = V6;
NET "RGB[3]" LOC = T6;
NET "RGB[2]" LOC = P8;
NET "RGB[1]" LOC = T7;
NET "RGB[0]" LOC = R7;
NET "clk" LOC = V10;
NET "hsync" LOC = N6;
NET "reset" LOC = B8;
NET "pixel_tick" LOC = T12;
NET "pic_on" LOC = V12;
NET "vsync" LOC = P7;
