NET "AD" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "CS" IOSTANDARD = LVCMOS33;
NET "hsync" IOSTANDARD = LVCMOS33;
NET "RD" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "vsync" IOSTANDARD = LVCMOS33;
NET "WR" IOSTANDARD = LVCMOS33;


NET "AD" LOC = H3;
NET "clk" LOC = V10;
NET "RD" LOC = L7;
NET "WR" LOC = K6;
NET "CS" LOC = G3;
NET "reset" LOC = B8;
NET "hsync" LOC = N6;
NET "vsync" LOC = P7;


NET "RGB[7]" IOSTANDARD = LVCMOS33;
NET "RGB[6]" IOSTANDARD = LVCMOS33;
NET "RGB[5]" IOSTANDARD = LVCMOS33;
NET "RGB[4]" IOSTANDARD = LVCMOS33;
NET "RGB[3]" IOSTANDARD = LVCMOS33;
NET "RGB[2]" IOSTANDARD = LVCMOS33;
NET "RGB[1]" IOSTANDARD = LVCMOS33;
NET "RGB[0]" IOSTANDARD = LVCMOS33;

NET "RGB[7]" LOC = N7;
NET "RGB[6]" LOC = V7;
NET "RGB[5]" LOC = U7;
NET "RGB[4]" LOC = V6;
NET "RGB[3]" LOC = T6;
NET "RGB[2]" LOC = P8;
NET "RGB[1]" LOC = T7;
NET "RGB[0]" LOC = R7;


NET "dato[0]" IOSTANDARD = LVCMOS33;
NET "dato[1]" IOSTANDARD = LVCMOS33;
NET "dato[2]" IOSTANDARD = LVCMOS33;
NET "dato[3]" IOSTANDARD = LVCMOS33;
NET "dato[4]" IOSTANDARD = LVCMOS33;
NET "dato[5]" IOSTANDARD = LVCMOS33;
NET "dato[6]" IOSTANDARD = LVCMOS33;
NET "dato[7]" IOSTANDARD = LVCMOS33;


NET "dato[0]" LOC = K2;
NET "dato[1]" LOC = K1;
NET "dato[2]" LOC = L4;
NET "dato[3]" LOC = L3;
NET "dato[4]" LOC = J3;
NET "dato[5]" LOC = J1;
NET "dato[6]" LOC = K3;
NET "dato[7]" LOC = K5;


NET "dato[7]" PULLUP;
NET "dato[6]" PULLUP;
NET "dato[5]" PULLUP;
NET "dato[4]" PULLUP;
NET "dato[3]" PULLUP;
NET "dato[2]" PULLUP;
NET "dato[1]" PULLUP;
NET "dato[0]" PULLUP;

NET "ps2data" LOC = "J13" | IOSTANDARD = "LVCMOS33" | PULLUP;  
NET "ps2clk"  LOC = "L12" | IOSTANDARD = "LVCMOS33" | PULLUP;